{% extends 'auth/home.html' %}
{% block content %}
{% load static %}
<html>
{% if user.is_superuser %}
<head>
	<title>
		CRUD operations
	</title>
	{% endif %}
	<link rel="stylesheet" href="{% static 'crudOperations.css' %}"/>
</head>
<body  id='bg' style="background-image:url('{%static 'background1.jpg'%}');">
{% if user.is_superuser %}
		<div style = "position:absolute; left:400px; top:200px;">
		<button name="button" type="submit"  onclick="window.location.href = '{%url 'create'%}';">CREATE</button>
		</div>
		<div style = "position:absolute; left:650px; top:200px;">
		<button name="button" type="submit" onclick="window.location.href = '{%url 'read'%}';">READ</button>
		</div>
		<div style = "position:absolute; right:450px; top:200px;">
		<button name="button" type="submit" onclick="window.location.href = '{%url 'update'%}';">UPDATE</button>
		</div>
		<div style = "position:absolute; right:200px; top:200px;">
		<button name="button" type="submit" onclick="window.location.href = '{%url 'delete'%}';">DELETE</button>
		</div>
{% endif %}
<div style = "position:absolute; left:500px; top:400px;">
<table>
<tr>
<th> Registration Id </th>
<th> Roll Number </th>
<th> First Name </th>
<th> Last Name </th>
<th> Email Id </th>
<th> Mobile Number </th>
<th> aadhar </th><th> PAN </th><th> passport </th><th> nationality </th><th> isAadhar </th><th> isPAN </th><th> isPassport </th>
<th> isIndian </th><th> fathersName </th><th> mothersName </th><th> permanantAddress </th><th> residentialAddress </th><th> tenthCGPA </th><th> twelfthCGPA </th><th> tenthGrade </th><th> twelfthGrade </th><th> firstSemCGPA </th><th> secondSemCGPA </th>
<th> thirdSemCGPA </th><th> fourthSemCGPA </th><th> fifthSemCGPA </th><th> sixthSemCGPA </th><th> seventhSemCGPA </th><th> eightthSemGCPA </th><th> isDiploma </th><th> diplomaMarks </th><th> isBacklog </th><th> numberOfBacklogs </th><th> activeBacklog </th>
<th> PassiveBacklog </th><th> isYD </th><th> YDYears </th><th> isEducationGap </th><th> educationGapYears </th><th> isPICTStudent </th><th> currentBatch </th>
</tr>
{% for r in rtable %}
<tr>
{% for x in r %}

<td>{{x}}</td>

{% endfor %}
</tr>
{% endfor %}
{% if user.is_superuser %}
{% else %}
<div class = "editbutton">
<button name="button" type="submit" onclick="window.location.href = '{%url 'editprofile'%}';">Edit</button>
</div>
{% endif %}


<!--
<?php

$username = "root";
$password = "";
$database = "student";
$mysqli = mysqli_connect("localhost", $username, $password, $database);
$query = "SELECT * FROM studentDetails";




if ($result = $mysqli->query($query)) {
    while ($row = $result->fetch_assoc()) {
        $field1name = $row["rollNumber"];
        $field2name = $row["registrationId"];
        $field3name = $row["firstname"];
        $field4name = $row["surname"];
        $field5name = $row["fathersName"];

        echo '<tr>
                  <td>'.$field1name.'</td>
                  <td>'.$field2name.'</td>
                  <td>'.$field3name.'</td>
                  <td>'.$field4name.'</td>
                  <td>'.$field5name.'</td>
              </tr>';
    }
    $result->free();
}
?>-->
</table>
</div>
</body>
</html>
{% endblock %}
